html {
    scroll-behavior: smooth;
}


body{
    background-color: #0c0c0c
}

.navbar{
    background-color: #1A1A1A;
    display: flex;
    position: fixed;
    left: 20px;
    top: 30%;
    height: 300px;
    width: 40px;
    border-radius: 12px;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    box-shadow: 0px 0px 10px rgb(159, 224, 216);
    transition: 0.4s ease;

}


.navbar:hover{

    transform: scale(1.1);
}


.navbar img{
    height: 35px;
    width: 35px;    
    transition: 0.2s ease;
}

.navbar img:hover{

    transform: scale(1.2);
}


.intro{
    position: absolute;
    left: 36%;
    top:  37%;
    font-family: "League Spartan", sans-serif;
    font-weight:600;
    color: white;
    font-size: 50px;
}

.second{
    position: absolute;
    text-align: center;
    left: 43%;
    top: 50%;
    font-family: "League Spartan", sans-serif;
    font-weight:400;
    color: white

}

.deepson{
    color: aquamarine;
    text-shadow: 0px 0px 6px aquamarine;
}

.about_me{
    position: absolute;
    left: 47%;
    top: 60%;
    height: 50px;
    width: 100px;
    border-radius: 12px;
    background-color: rgb(159, 224, 216);
    border-color: aquamarine;
    font-size: 20px;
    font-weight: 700;
    font-family: "league Spartan", sans-serif;
    color:rgb(0, 0, 0);


    box-shadow: 0 0 7px rgb(147, 231, 138);
    transition: 0.2s ease;

}

.about_me:hover{
    transform: scale(1.07);

}

.about_me:active{
    transform: scale(0.999);
    box-shadow: 0 0 30px rgb(54, 255, 77);
}


.information{
    margin-top: 900px;
    display: flex;
    margin-left: 200px;
    margin-bottom: 200px;
    height: 200px;
    width: 1000px;
    
    
    flex-direction: column;
}

.name{

    font-family: "League Spartan", sans-serif;
    font-weight:500;
    color: white;
    font-size: 50px;

}

.explain{

    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: 400;
    color: aliceblue;


}

.maize{

    color: rgb(255, 255, 0);
    margin: 50px;
    text-decoration: none;
    width: 200px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    height: 100px;
    font-size: 30px;
    background-color: rgb(59, 56, 56);
    border-radius: 12px;
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px rgb(159, 224, 216);
    transition: 0.2s ease;
}

.maize:hover{
    transform: scale(1.07);
}
.tag{
    color: rgb(255, 0, 255);
    margin: 50px;
    width: 200px;
    text-decoration: none;
    font-family:Georgia, 'Times New Roman', Times, serif;
    height: 100px;
    font-size: 30px;
    background-color: rgb(59, 56, 56);
    border-radius: 12px;
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px rgb(159, 224, 216);
    transition: 0.2s ease;
}
.tag:hover{
    transform: scale(1.07);
}

.runner{
    color: rgb(0, 255, 255);
    margin: 50px;
    font-size: 30px;
    width: 200px;
    text-decoration: none;
    font-family:Georgia, 'Times New Roman', Times, serif;
    height: 100px;
    background-color: rgb(59, 56, 56);
    border-radius: 12px;
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px rgb(159, 224, 216);
    transition: 0.2s ease;
}
.runner:hover{
    transform: scale(1.07);
}


.projects{
    margin-top: 50px;
    display: flex;
    margin-left: 200px;
    margin-bottom: 200px;
    height: 200px;
    width: 1000px;
    flex-direction: row;
    justify-content: space-evenly;
}

.projects-heading{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 200px;
    width: 1000px;
    top: 1200px;
    font-family: "League Spartan", sans-serif;
    font-weight:600;
    color: white;
    font-size: 50px;

}

.contact-heading{
    position: absolute;
    display: flex;
    left: 700px;
    top: 1800px;
    font-family: "League Spartan", sans-serif;
    font-weight:600;
    color: white;
    font-size: 50px;
}


.email{
    
   color: rgb(0, 255, 255);
    margin-top: 220px;
    font-size: 20px;
    width: 100px;
    text-decoration: none;
    font-family:Georgia, 'Times New Roman', Times, serif;
    height: 30px;
    border-radius: 12px;
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px rgb(159, 224, 216);
    transition: 0.2s ease;

}

.github{

   color: rgb(0, 255, 255);
    margin-top: 220px;
    font-size: 20px;
    width: 100px;
    text-decoration: none;
    font-family:Georgia, 'Times New Roman', Times, serif;
    height: 30px;
    border-radius: 12px;
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px rgb(159, 224, 216);
    transition: 0.2s ease;

}


.linkedin{

    color: rgb(0, 255, 255);
    margin-top: 220px;
    font-size: 20px;
    width: 100px;
    text-decoration: none;
    font-family:Georgia, 'Times New Roman', Times, serif;
    height: 30px;
    border-radius: 12px;
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px rgb(159, 224, 216);
    transition: 0.2s ease;

}

.contact-info{
    margin-top: 100px;
    display: flex;
    margin-left: 500px;
    margin-bottom: 200px;
    height: 100px;
    width: 700px;
    flex-direction: row;
    justify-content: space-evenly;

}

.space{

    top: 3000px;
    height: 200px;
    width: 200px;

}

.photo{
    position: absolute;
    top: 1690px;
    left: 250px;
    height: 300px;
    width: 200px;
    border-radius: 20%;
    box-shadow: 0px 0px 10px rgb(52, 61, 61);
}